<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="main.css ">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="jquery.bcSwipe.js"></script>

    <title>Title</title>
</head>
<body data-spy="scroll" data-target="#my-navbar">
<div id="app">
    <nav id="my-navbar" class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #d7d7d7;">
        <a class="navbar-brand" href="#">web-design-geeks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav mr-auto nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="#intro">Введение</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Игры</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           v-for="item in items"
                           :key="item.key"
                           :href="'#section-' + item.prefix">{{ item.title }}</a>
                    </div>
                </li>
            </ul>
            <img src="images/share.png" alt=""/>
            <img src="images/like.png" alt=""/>
            <img src="images/dislike.png" alt=""/>
        </div>
    </nav>
    <div id="intro" class="container one-screen">
        <div class="row one-screen justify-content-center align-items-center">
            <div class="col">
                <h1 class="display-3 text-left">Топ 10 игр-тренажеров<br/>программирования для<br/>детей и родителей</h1>
                <p class="lead mt-5 text-justify">{{ intro }}</p>
            </div>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div :class="'col' + (index % 2 != 0 ? ' odd' : '')"
                 v-for="(item, index) in items.filter(i => i.key % 2 == 0)"
                 :key="item.key">
                <my-card :item="item"></my-card>
                <my-card :item="items[item.key + 1]"></my-card>
            </div>
        </div>
        <my-section v-for="item in items" :key="item.key" :item="item"></my-section>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>