body {
    font-family: sans-serif;
    margin: 0;
    background: #f2f2f2;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-bottom: 60px;
}



h4{
    text-align:center;
    line-height:80px;
    font-weight:normal;

}

.card {
    display: inline-block;
    background: #d7d7d7;
    margin: 0 0 12px 0;
    padding: 0 1em 1em 1em;
    width: 100%;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.carousel-inner img {
    object-fit: cover;
    width: 200px;
}

.card-title {
    margin-bottom: 0;
}

.navbar img {
    padding: 6px;
    width: 40px;
    height: 38px;
}

.odd {
    padding: 16px 0 0 0;
}

.odd .card {
    background: #f2f2f2;
}

.my-section h1 {
    margin-bottom: 30px;
}

.my-section p {
    margin-bottom: 0;
}

.one-screen {
    height: 100vh;
    overflow: auto;
}

#platform-icon {
    padding: 16px;
    width: 64px;
    height: 64px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    text-decoration:none;
    color: black;
}