@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);

html,body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    font-family: sans-serif;
    background: #f2f2f2;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h4{
    text-align:center;
    line-height:80px;
    font-weight:normal;

}

.clickable {
    cursor: pointer;
}

.card {
    display: inline-block;
    background: #d7d7d7;
    margin: 0 0 12px 0;
    padding: 0 1em 1em 1em;
    width: 100%;
    -webkit-transition:1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
}

.carousel-inner img {
    object-fit: cover;
    width: 200px;
}

.card-title {
    margin-bottom: 0;
}

.navbar img {
    padding: 6px;
    width: 40px;
    height: 38px;
}

.odd {
    padding: 16px 0 0 0;
}

.odd .card {
    background: #f2f2f2;
}

.my-section h1 {
    margin-bottom: 30px;
}

.my-section p {
    margin-bottom: 0;
}

#platform-icon {
    padding: 16px;
    width: 64px;
    height: 64px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a {
    text-decoration:none;
    color: black;
}

/*CAROUSEL*/
.main-text {
    position: absolute;
    top: 100px;
    margin-left: 10%;
    width: 80%;
}

.main-text h1 {
    color: #FFF;
}

.main-text p {
    color: #FFF;
}

.carousel-btns {
    margin-top: 2em;
}

.carousel-btns .btn {
    width: 150px;
}

.carousel-inner .imgOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.carousel-inner img {
    width: 100%;
}

/*CONTROL*/
.carousel-control {
    width: auto;
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
    position: absolute;
    top: 47%;
    right: 0;
    z-index: 5;
    display: inline-block;
    background-color: #000;
    width: 38px;
    height: 38px;
    line-height: 40px;
    font-size: 14px;
}

.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
    left: 0;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left,
.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    border-radius: 50px;
}

.carousel-control .icon-prev, .carousel-control .fa-chevron-left {
    left: 30px;
}

.carousel-control .icon-right, .carousel-control .fa-chevron-right {
    right: 30px;
}